{% extends "base.html" %}
{% block content %}
    <h1>Вход</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="post" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <label for="email">Email:</label>
        {{ form.email }}
        <br>
        <label for="password">Пароль:</label>
        {{ form.password }}
        <br>
        <p>
            <input type="submit" value="Войти">
        </p>
    </form>
    <p>Нет аккаунта? <a href="{{ url_for('register') }}">Зарегистрируйтесь</a></p>
{% endblock %}